myenv
memo.txt
__pycache__
*.pyc
text.ipynb
test2.ipynb
vehiclemanagementsystem-e76c4-firebase-adminsdk-fbsvc-db53f875ef
vehiclemanagementsystem-e76c4-firebase-adminsdk-fbsvc-db53f875ef.json
functions
raahsair-pair.pem
raahsair-pair - Copy.pem
raahsair-pair.ppk
footages
testenv
app.log
ivcam.py
*.ipynb
testenv
captures
test.py
nvidia_response.txt
plate_detection copy.py
profile_results.txt