myenv
memo.txt
__pycache__
*.pyc
text.ipynb
vehiclemanagementsystem-e76c4-firebase-adminsdk-fbsvc-db53f875ef
vehiclemanagementsystem-e76c4-firebase-adminsdk-fbsvc-db53f875ef.json
functions
raahsair-pair.pem
raahsair-pair - Copy.pem
raahsair-pair.ppk
footages
testenv
app.log
ivcam.py
*.ipynb
testenv
captures

